[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "==8.3.78"
rknn-toolkit-lite2 = "==2.3.0"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
