[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/rocm6.2.4"
verify_ssl = true
name = "pytorch"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.11"
