*
!download-dataset/pyproject.toml
!download-dataset/uv.lock
!download-dataset/download-dataset.py
!train/pyproject.toml
!train/uv.lock
!train/train.sh
!train/verify-rocm.py
!train/yolo-config
!export-onnx/pyproject.toml
!export-onnx/uv.lock
!export-onnx/export.sh
!onnx-to-rknn/pyproject.toml
!onnx-to-rknn/uv.lock
!onnx-to-rknn/gen-quant-images-txt.sh
!onnx-to-rknn/convert.py
!best-640-640-yolov8n-labels.txt
!docker
