[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/rocm6.2.4"
verify_ssl = true
name = "pytorch"

[packages]
ultralytics = "==8.3.78"
pytorch-triton-rocm = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torch = {version = "==2.6.0", index = "pytorch"}
tqdm = {version = "*", index = "pytorch"}
numpy = {version = "*", index = "pytorch"}

[dev-packages]

[requires]
python_version = "3.11"
